# 0.0 Imports

In [37]:
import pandas as pd
import numpy as np
import math

from statsmodels.stats import api as sm
from scipy.stats import chi2_contingency

## 0.1 Loading data

In [2]:
df_raw = pd.read_csv('../data/ab_testing.crdownload')

In [25]:
df_raw.head()

        uid country gender   spent  purchases        date  group device
0  11115722     MEX      F  1595.0        5.0  2016-03-08  GRP B      I
1  11122053     USA      M   498.0        2.0  2017-07-14  GRP B      I
2  11128688     USA      F  2394.0        6.0  2017-09-17  GRP A      I
3  11130578     USA      F  1197.0        3.0  2017-11-30  GRP A      I
4  11130759     ESP      M  1297.0        3.0  2018-01-10  GRP B      A

# 1.0 Data Description

In [6]:
df1 = df_raw.copy()

## 1.1 Data Dimensions

In [8]:
print("Número de linhas: {}".format(df1.shape[0]))
print("Número de colunas: {}".format(df1.shape[1]))

Número de linhas: 25230
Número de colunas: 8

## 1.2 Data Types

In [26]:
df1.dtypes

uid                   int64
country              object
gender               object
spent               float64
purchases             int64
date         datetime64[ns]
group                object
device               object
dtype: object

## 1.3 Check NA

In [10]:
df1.isna().sum()

uid          0
country      1
gender       1
spent        1
purchases    1
date         1
group        1
device       1
dtype: int64

## 1.4 Drop NA

In [17]:
# Droping little NA data
df1 = df1.dropna()

## 1.5 Change Types

In [30]:
# Changing purchases to int64
df1['purchases'] = df1['purchases'].astype(int)

# Changing date to datetime
df1['date'] = pd.to_datetime(df1['date'])

# Changing spent to int64
df1['spent'] = df1['spent'].astype(int)

## 1.6 Checking

In [34]:
df1.isna().sum()

uid          0
country      0
gender       0
spent        0
purchases    0
date         0
group        0
device       0
dtype: int64

# 2.0 Design de experimentos

## 2.1 Formulação da hipótese

## 2.2 Parâmetros do experimento

In [38]:
# Nível de confiança
confidence = 0.95

# Limite de significância
significance = 0.05

# conversões da página nova e página atual
p1 = 0.15
p2 = 0.13

# tamanho do efeito
effect_size = sm.proportion_effectsize(p1, p2)

# poder estatístico
power = 0.80

In [40]:
# sample size
sample_n = math.ceil(sm.NormalIndPower().solve_power(
    effect_size,
    power=power,
    alpha=significance
))
sample_n

4720